<!DOCTYPE html>
<html>

<head>

	<script src="../static/p5/p5.min.js"></script>
	<script src="../static/js/sketch_p5.js"></script>
	<script src="../static/js/clmtrackr.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="../static/js/sketch_html.js"></script>

	<style>
		figure {
			float: left;
			text-align: center;
		}

		p {
			padding: 20px;
			float: left;
		}

		#char {
			clear: both;
		}

		#hide {
			display: none;
		}

		#cv {
			border: none;
			height: 436px;
			overflow: hidden;
			width: 356px;
		}
	</style>
</head>

<body>
	<div class="container">

		<h2 class="mt-5">AI Casting Director</h2>

		<form>
			<a href=# id="capture_button">
				<button type="button" style="background-color:none; border:none;">
					<img src="../static/images/icon-camera-512.png" width="6%">
				</button>
			</a>
		</form>

		<figure id='hide'><img src="{{ url_for('video_feed') }}" height="50%"></figure>

		<figure>
			<div id="cv"></div>
			<!-- <iframe allow="camera" id="p5_embedded" src='https://preview.p5js.org/tigertian98/present/yzksiz4tc'></iframe> -->
		</figure>

		<p id="script" style="white-space: pre-line"><strong></strong></p>

		<br>

		<div id="char"></div>

		<!-- <figure><img src="../static/movie_char/466.jpg"></figure>

		<p>TEXT</p>

		<div class='char'>
			<figure>
				<img src="../static/movie_char/35.jpg">
				<figcaption>2.4345</figcaption>
			</figure>
			<figure>
				<img src="../static/movie_char/8.jpg">
				<figcaption>5.5681</figcaption>
			</figure>
			<figure>
				<img src="../static/movie_char/46.jpg">
				<figcaption>3.3245</figcaption>
			</figure>
		</div> -->

	</div>
</body>