<!DOCTYPE html>
<html>

<head>

	<!-- <script src="p5/p5.min.js"></script>
    <script src="p5/addons/p5.dom.min.js"></script>
    <script src="p5/addons/p5.sound.min.js"></script>
    <script src="sketch.js"></script> -->

	<style>
		figure {
			float: left;
			text-align: center;
		}

		p {
			padding: 20px;
			float: left;
		}

		.char{
			clear: both;
		}

		#hide {
			display: none;
		}

		#p5_embedded {
			border:  none;
			height: 436px;
			overflow: hidden;
			width: 356px;
		}

	</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-8  offset-lg-2">


				<h2 class="mt-5">AI Casting Director</h2>
				<form method="post" action="{{ url_for('tasks') }}">
					<input type="submit" value="Capture" name="click" />
					<input type="submit" value="RunML" name="ml" />
				</form>

				<figure><img id='hide' src="{{ url_for('video_feed') }}" height="50%"></figure>

				<figure>
					<iframe allow="camera" id="p5_embedded" src='https://preview.p5js.org/Francesyfy/present/_ze9hg997'></iframe>
				</figure>

				{% if msg %}
				<p><strong>
					{% autoescape false %}
					{{msg}}
					{% endautoescape %}
				</strong></p>
				{% endif %}

				<br>
				
				{% if char_lst %}
				<div class="char">
					{% for i in range(5) %}
						<figure >
							<img src="{{ char_lst[i] }}">
							<figcaption>{{ scores[i] }}</figcaption>
						</figure>
					{% endfor %}
				</div>
				{% endif %}

				<!-- <figure><img src="../static/movie_char/466.jpg"></figure> -->

				<!-- <p>hiiiiiii</p>

				<div class='char'>
					<figure>
						<img src="../static/movie_char/35.jpg">
						<figcaption>2.4345</figcaption>
					</figure>
					<figure>
						<img src="../static/movie_char/8.jpg">
						<figcaption>5.5681</figcaption>
					</figure>
					<figure>
						<img src="../static/movie_char/46.jpg">
						<figcaption>3.3245</figcaption>
					</figure>
				</div> -->

			</div>
		</div>
	</div>
</body>